*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utitlity */

:root {
  --primary-color: #9b77fe;
  --secondary-color: #807593;
  --background-color: #ffffff;
  --border-color: #9e9e9e;
  --current: #c5dcff80;
  --color: #000000;
  --btn-color: #e1e1e1;
  --font-family: "Roboto Condensed", serif;
  --transition: all 0.3s linear;
  --p-line-height: 1.3;
  --h-line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  /* background-color: var(--background-color); */
  color: var(--color);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--h-line-height);
  font-family: var(--font-family);
}

p {
  line-height: var(--p-line-height);
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  gap: 1.3rem;
  color: var(--color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-dark {
  background: var(--btn-color);
  border-radius: 13px;
}

.category {
  display: inline-block;
  padding: 2rem 4rem;
  margin-top: 10rem;
}
.btn-dark:hover {
  opacity: 0.9;
}

.btn-light {
  background: var(--secondary-color);
  color: var(--background-color);
  border-radius: 13px;
}

.container {
  margin: auto;
  padding: 1rem 2rem;
  overflow: hidden;
}
/* utitlity end */

/* header */
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-items .logo h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-items .logo img {
  width: 50px;
  height: auto;
}

.nav-items .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-lists {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-lists li a {
  font-size: 1rem;
  font-weight: bold;
}

.nav-items ul li a.current {
  background: var(--current);
  color: var(--color);
  padding: 1rem;
  border-radius: 5px;
}

.nav-items ul li a.current:hover {
  opacity: 0.9;
}
.fa-solid {
  display: none;
}

.auth {
  display: flex;
  align-items: center;
  z-index: 1;
}

.nav-items .auth button {
  margin: 0.5rem;
}
/* header end */

/* hero section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 100px;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: bold;
  width: 590px;
  height: 200px;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  width: 675.9px;
  height: 150px;
}

.hero-image {
  flex: 1;
}

.background {
  position: absolute;
  width: 45.9%;
  height: auto;
  top: -199px;
  right: 0;
}

.hero-img-wrapper {
  width: 40%;
}

.human1,
.human2 {
  width: 30%;
  position: absolute;
  z-index: 1000;
  top: 20px;
}

.human2 {
  right: 30px;
}

/* hero section end */

/* vaccine container */
.vaccine-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 5rem; */
}

.vaccine-image {
  flex: 1;
}

.vaccine-image img {
  width: 850px;
  height: 670px;
}

.vaccine-content {
  flex: 1;
}

.vaccine-content p:first-child {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.vaccine-content p:nth-child(2) {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.vaccine-content p:nth-child(3) {
  font-size: 1.3rem;
  width: 620px;
  margin-bottom: 1rem;
}

.vaccine-content p:nth-child(4) {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.vaccine-content p:nth-child(5) {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.vaccine-content button {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
/* vaccine container end */
